@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body { margin: 0px; padding: 0px; }
ul, li { list-style: none; margin:0px; padding: 0px; }
font, h1, h2, h3, h4, h5, h6, p { font-family: 'Nanum Gothic'; font-size: 25pt; }
.total_wrap { width: 100%; height: 1700px; }

.header_wrap { width: 100%; height: 10%; border-bottom: solid 3px #FCD951; }
.content_wrap { width: 100%; height: 90%; }
.tailer_wrap { width: 100%; height: 0%; }

.header_bar_wrap { width: 100%; height: 30%; background-color: #FCD951; }

.header_prevBtn_wrap { width: 10%; height: 70%; float: left; }
.header_prevBtn_wrap img { width: 60%; height: 60%; margin-top: 30%; }

.header_title_wrap { width: 80%; height: 47%;  margin-top: 3%; }
.header_title_wrap font { font-size: 40pt; color: #FCD951; font-weight: bold; }

.content_joinForm_wrap { width: 75%; height: 90%; padding: 0px;  }

.content_joinForm_id_wrap { width: 70%; height: 8%;  float: left; margin-top: 5%;}
.content_joinForm_id_wrap input { width: 100%; height: 100%; font-size: 28pt; border: solid 4px #FCD951; border-radius: 20px; }

.content_joinForm_idCheck_wrap { width: 30%; height: 8%; float: left; margin-top: 5%;}
.content_joinForm_idCheck_wrap img { width: 95%; height: 78%; margin-top: 5%; }

.content_joinForm_idCheckDisplay_wrap { width: 100%; height: 5%; text-align: left;  }
.content_joinForm_idCheckDisplay_wrap font { font-size: 25pt; font-weight: bold; }

.content_joinForm_pw_wrap { width: 100%; height: 8%; margin-top: 20%; }
.content_joinForm_pw_wrap input { width: 100%; height: 100%; font-size: 28pt; border: solid 4px #FCD951; border-radius: 20px;  }

.content_joinForm_pwCf_wrap { width: 100%; height: 8%; margin-top: 8%; }
.content_joinForm_pwCf_wrap input { width: 100%; height: 100%; font-size: 28pt; border: solid 4px #FCD951; border-radius: 20px; }

.content_joinForm_sex_wrap { width: 100%; height: 8%; margin-top: 10%; }
.content_joinForm_sex_men_wrap { width: 48.5%; height: 100%; float: left; border: solid 4px #FCD951; border-right: solid 2px #FDC951; border-top-left-radius: 20px; border-bottom-left-radius: 20px; }
.content_joinForm_sex_men_wrap h3 { font-size: 25pt; color: #aaaaaa; }

.content_joinForm_sex_women_wrap { width: 48.5%; height: 100%; float: left; border: solid 4px #FCD951; border-left: solid 2px #FCD951; border-top-right-radius: 20px; border-bottom-right-radius: 20px; }
.content_joinForm_sex_women_wrap h3 { font-size: 25pt; color: #aaaaaa; }

.content_joinForm_age_wrap { width: 100%; height: 8%; margin-top : 7%; }
.content_joinForm_age_wrap input { width: 100%; height: 100%; font-size: 28pt; border: solid 4px #FCD951; border-radius: 20px; }

.content_terms_wrap {width: 100%; height: 22%; font-size: 10pt; border: solid 4px #FCD951; border-radius: 20px; margin-top : 7%;}

.content_terms_all_wrap {width: 60%; margin-top: 5%; margin-bottom: 5%; margin-right: 5%;}
.content_terms_all_wrap  font{color :#FCD951; font-size: 28pt; font-weight: bold;}
.content_terms_all_img_wrap {width: 10%; height: 14%; float:left;}

.content_terms_service_wrap {width: 60%; margin-bottom: 3%;}
.content_terms_service_wrap font{color :#FCD951; font-size: 23pt;}
.content_terms_service_img_wrap {width: 8%; height: 12%; float:left;}

.content_terms_individual_wrap {width: 60%; margin-bottom: 3%;}
.content_terms_individual_wrap font {color :#FCD951; font-size: 23pt;}
.content_terms_individual_img_wrap {width: 8%; height: 12%; float:left;}

.content_terms_push_wrap {width: 60%; margin-bottom: 3%;}
.content_terms_push_wrap font { color :#FCD951; font-size: 23pt;}
.content_terms_push_img_wrap {width: 8%; height: 12%; float:left;}

.content_joinForm_submit_wrap { width: 100%; height: 10%; margin-top: 1%; }
.content_joinForm_submit_wrap img { width: 100%; height: 100%; }



#matchPasswordText { width: 100%; height: 0.1%; font-size: 25pt; text-align: left; font-weight: bold;}
